body {
    margin: 0px auto;
    overflow: hidden;
}

p {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    margin: 8px;
    padding: 8px;
    color: #7C8CFD;
    font-family: sans-serif;
    text-align: right;
    font-size: 20pt;
    background-color: rgba(16,11,42,0.75);
    border-radius: 8px;
}

#np1 {
  opacity: 1;
  transition: opacity 2s;
}

#np1.fade {
  opacity: 0;
}

#np2 {
  opacity: 1;
  transition: opacity 2s;
}

#np2.fade {
  opacity: 0;
}